.todo-app__app-name {
  text-align: center;
  font-family: $app-name-font-family;
  font-size: $app-name-font-size;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-spacing: 10px;
  padding-left: 2.5px;
  margin-bottom: 50px;
}
