.todo-app__new-todo-form {
  &__task-input {
    @include smoothen-input-borders($input-focus-color);

    width: 100%;
    font-size: $body-font-size;
    padding: 7.5px 10px;
    margin-bottom: 37.5px;
  }
}

.todo-app__list {
  margin: 20px auto;

  &__item {
    @include make-flex(row, space-between, center);

    margin-bottom: 25px;

    %task {
      position: relative;
      overflow: hidden;
      display: inline-block;
      word-break: break-all;
      font-size: $body-font-size;
      padding: 0 10px;
      margin-right: 20px;
    }

    &__task {
      @extend %task;

      transition: color 500ms;

      &--completed {
        @extend %task;

        color: $completed-task-color;
        transition: color 750ms;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: 2.5px solid $completed-task-color;
          animation: strikethrough-in 500ms 125ms both;
        }
      }
    }

    &__actions {
      min-width: 70px;

      %todo-item-action-btn {
        display: inline-block;
        width: 25px;
        cursor: pointer;
        margin-left: 10px;
      }

      &__toggle-completion-btn {
        &--incomplete {
          @extend %todo-item-action-btn;

          transition: filter 375ms;

          &:hover {
            filter: brightness(110%);
            transition: all 250ms;
          }
        }

        &--completed {
          @extend %todo-item-action-btn;

          transition: filter 375ms;

          &:hover {
            filter: brightness(75%);
            transition: all 250ms;
          }
        }
      }

      &__delete-btn {
        @extend %todo-item-action-btn;

        transition: filter 375ms;

        &:hover {
          filter: brightness(75%);
          transition: all 250ms;
        }
      }
    }
  }
}
