* {
    box-sizing: border-box;
  }
  
  html {
    font-family: $body-font-family;
    font-size: 62.5%;
    color: $default-font-color;
  }

  body {
    background-color: $outer-bg-color;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  img {
    max-width: 100%;
  }