/* Color values */
$cararra: #F0EFE9;
$white: #FFFFFF;
$mine-shaft: #2c2c2c;
$turquoise: #50E3A4;

/* Font assignments */

$body-font-family: "Roboto";
$heading-font-family: "Roboto";

/*  Color assignments */

// Global assignments
$outer-bg-color: $cararra;
$inner-bg-color: $white;
$default-font-color: $mine-shaft;